@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Forest Man</h1>
    <p class="lead">Cel mai bun restaurant la care veti manca vreodata.</p>
    <p><a> <li>@Html.ActionLink("Creare comanda", "Index", "CreeareComanda")</li></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>5 stele</h2>
        <p>
            Am incercat omleta campionilor si va pot spune ca m-a facut sa ma simt ca un campion!
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/profile.php?id=100008834352548">Ionut Padurean &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>5 stele</h2>
        <p>Mancarea e extraordinara, iar servirea, EXCELENTA! Nu mai spun de preturi, super accesibile</p>
        <p><a class="btn btn-default" href="https://www.facebook.com/Rares60">Samartean Rares Petru &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>5 stele</h2>
        <p>
            5 stele pentru ca nu pot da mai mult. As manca aici in fiecare zi, dar nu
            ma tine portofelul... Glumesc, preturile atat de reduse, incat mananc a 120-a zi consecutiv aici!
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=mCdA4bJAGGk&ab_channel=sweetblue.">Sabau David Anton &raquo;</a></p>
    </div>
</div>