<h2>Meniu logare</h2>
<fieldset>
    <legend>Meniu logare</legend>
    @using (Ajax.BeginForm("LogareResult", "Logare",
                    new AjaxOptions { UpdateTargetId = "divUser" }))
    {
        <div id="divUser"></div>
        <ol>
            @{
                @Html.Label("Nume utilizator")<br />
                @Html.TextBox("txtUtilizator")<br />
                @Html.Label("Password")<br />
                @Html.Password("txtPassword")<br />


            }
        </ol>
        <button>Log in</button>
    }
</fieldset>